.grey {
    color: $grey;
}

.purple {
    color: $primaryColor;
}

.fa-store {
    color: #9356dc;

}

.fa-heart-purple {
    color: #9747FF;
}

.fa-solid fa-heart {
    background: rgb(168, 92, 220);
    background: linear-gradient(183deg, rgba(168, 92, 220, 1) 27%, rgba(217, 108, 218, 1) 100%);
}

p {
    color: $text-color;
}

a {
    color: #fff;
}