$border-radius: 20px;
$bg-light: #fff;
$bg-grey: #f6f6f6;
$BgColor: #ffffff;
$secondaryBgColor: #ff79da;
$primaryColor: #9356DC;
$tertiaryColor: #99E2D0;
$grey-heading-color: #eaeaea;
$grey: #858585;
$text-color: #353535;
$text-menu: #3d3d3d;
$font-weight: (
    "regular":400,
    "medium":500,
    "bold":700,
);
$icon: #8d8d8d;
$solid-heart: rgb(169, 93, 220);
$linear-gradient: after rgba(169, 93, 220, 1) 27%,
    rgba(255, 121, 218, 0.241421568627451) 100%;

$font-family: shrikhand;
$font-family: Roboto;
$footer-background: #353535;

$purple-pink-gradient-color: (
    318deg,
    rgba(147, 86, 220, 1) 28%,
    rgba(255, 121, 218, 1) 95%
);
$gradient-bgcolor: rgb(147, 86, 220);