@import'variables';
@import 'boilerplate';
@import'card';
@import 'section';
@import 'typography';
@import'utils';
@import'navbar';
@import'button';
@import'orderlists';
@import'icons';
@import 'img-header';
@import'borders';
@import'menu-item';
@import'menu-title-underlineeffect';
@import'footer';
@import'animation';

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transition-ease {
    transition: all 0.5 ease-in-out;
}

body {
    background: $BgColor;
    color: $text-color;
    margin: 0;
    font-family: Roboto;
}